<% content_for :custom_js do %>
    <%= javascript_include_tag 'calendar' %>
    <%= javascript_include_tag 'validates' %>
<% end %>

<p><h3><span class = "bg-info"><%= t('links.edit') %></span></h3></p>
<%= render 'form' %>

