<header class="intro-header" style="background-image: url('/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= render 'shared/search_form' %>
      </div>
      <div class="col-md-6">
        <%= render 'shared/user_info' %>
      </div>
    </div>
    <div class="row">
      <div class="site-heading">
        <h1>My Blog</h1>
        <hr class="small">
        <span class="subheading">Blog Theme by Ruby Rails</span>
      </div>
    </div>
  </div>
</header>