$calendar-color: lightgrey;

.error{
  border-style: solid;
  border-color: red;
}

form{
  width: 300px;
  font-size: medium;
}

.post-by{
  font-family: FreeMono;
}

.container-fluid{
  padding: 0;
}

.main_container{
  position: relative;
  margin: 0;
  padding: 15px;
}

article .post-title{
  text-align: center;
}

.post-subtitle{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  max-height: 55px;
  overflow: hidden;
}

.search {
  left:-50px;
  margin-top: 10px;
  position: absolute;

  input{
    font-size: large;
    width: 250px;
  }
}

.user_info{
  position: absolute;
  right: 0;
  color: white;
  i{
    color: white;
  }
  span{
    position: relative;
    right: -30px;
  }
}

.bg-info{
  font-family: Georgia, sans-serif;
}

.search_result{
  padding: 5px;
  border: solid 1px whitesmoke ;
  display: none;
  position: absolute;
  width: 100% ;
  background-color: snow;
  div :hover{
    background-color: lightgrey;
  }
  a {
    text-decoration: none;
    color : black;
  }
}

.calendar{
  display: none;
  background-color: white;
  border-width: 1px;
  position: absolute;
  width: 280px;
  height: auto;
  bottom: 70px;
  left:350px;
  div{
    text-align: center;
    border: 1px solid grey;
    background-color: $calendar-color;
  }
  table{
    font-size: smaller;
    width: 100%;
    text-align: center;
    border: 2px inset $calendar-color;
    border-collapse: collapse;
    tr :hover{
      background-color: $calendar-color;
    }
    tr{
      td{
        border-style: inset ;
      }
      th{
        border-style: inset ;
      }
    }
  }
}

#month_select{
  width: 130px;
}

#month_dec, #month_inc{
  padding-right:15px ;
  padding-left:15px ;
}

#year_dec{
  padding-left: 20px;
}

#year_inc{;
  padding-right: 20px;
}

#article_text {
  font-size: medium;
  width: 1200px;
  height: 250px;
}

.edit_article textarea{
  width: 100%;
  height: 250px;
}

.paginate{
  margin-left: 40%;
  max-width: 40%;
}
